[submodule "generators/sdf-fft"]
	path = generators/sdf-fft
	url = https://github.com/milovanovic/sdf-fft.git
[submodule "generators/logMagMux"]
	path = generators/logMagMux
	url = https://github.com/milovanovic/logMagMux.git
[submodule "generators/dsp-utils"]
	path = generators/dsp-utils
	url = https://github.com/milovanovic/dsp-utils.git
[submodule "generators/cfar"]
	path = generators/cfar
	url = https://github.com/milovanovic/cfar.git
[submodule "verilog/rtl/wb2axip"]
	path = verilog/rtl/wb2axip
	url = git@github.com:milovanovic/wb2axip.git
